<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Day 7 Morning</title>
<link rel="stylesheet" href="./day8morning.css"> 
</head>
<body ng-app="lightBoxApp">

	<div ng-controller="LightBoxCtrl">
		<!-- when the show names button is clicked, the current names in the form should be printed to the console -->
		<form id="form1" onsubmit="getFormvalue()">  
			First name: <input ng-model="firstName" type="text" name="fname" value="David" id="first"><br>  
			Last name: <input ng-model="lastName" type="text" name="lname" value="Beckham" id="last"><br>  
		</form>  

		<!-- when the change color button is clicked, the text in this div should turn red -->
		<div class="change-color" id="color-div">
			Here's a fun little div.
		</div>

		<button ng-click="showNames()" id="name-btn">Click to show names</button>
		<button id="color-btn">Click to change color</button>
		<button id="image-btn" ng-click="showBackground()">Click to show image</button>
		

		<!-- when the toggle images button is clicked, a transparent black background should appear with a dog picture centered on top of it. when the background is clicked again, the image and background should go away. -->
		<div class="lightbox" id="lightbox" ng-show="showBack" ng-class="">
			<div id="image" class="lightbox-contents" >
				<img src="http://www.lovethispic.com/uploaded_images/53451-Cute-Dog.jpg" alt="">
			</div>
			<div id="screen" class="lightbox-bg"></div>
		</div>
	</div>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="Day8morning.js"></script>
</body>
</html>