<html>
<head>
	<title>My Grocery List</title>
</head>
<body ng-app = "MyGroceryList">
	<div ng-controller = "GroceriesCtrl">
		<h1>Lorna's Grocery List</h1>
		<p>
			<input ng-model="itemName" placeholder="Grocery Item"> Grocery Item
		</p>
		<p>
			<input ng-model="itemQuantity" placeholder="Quantity"> Qty
		</p>
		<p>
			<button ng-click="addListItem()">Add to list</button>
		</p>	
		<p>
			<input placeholder="Search" type="text" ng-model="searchBar">
		</p>
		
			<p>Grocery List:</p>
			<p>
			<ul>
			<li ng-repeat="newItem in groceryList | filter:searchBar track by $index">
				{{newItem.quantity}} : {{newItem.name}}
				<button ng-click="increaseQuantity(item)">+</button>
				<button ng-click="decreaseQuantity(item)">-</button>
			</li>
			</ul>
		</p>
		
	</div>

<script src="./angular.js"></script>
<script src="./groceryList.js"></script>
</body>
</html>