<html>
<head>
	<title>My Grocery List</title>
</head>
<body ng-app="MyGroceryList">
	<div name="myForm" ng-controller="GroceriesCtrl">
		<h1>Lorna's Grocery List</h1>
		<div role="alert">
			<span class="error" ng-show="myForm.input.$error.required">
				Required!</span>
			<span class="error" ng-show="myForm.input.$error.text">
					Not a valid Item!</span>
		</div>
		<p>
			<input ng-model="itemName" name="input" type="text" placeholder="Grocery Item" required> Grocery Item
		</p>
		<p>
			<input ng-model="itemQuantity" placeholder="Quantity"> Qty
		</p>
		<p>
			<button ng-click="addListItem()">Add to list</button>
		</p>	
		<p>
			<input placeholder="Search" type="text" ng-model="searchBar">
		</p>
		
			<p>Grocery List:</p>
			<p>
			<ul>
			<li ng-repeat="newItem in groceryList | filter:searchBar track by $index">
				{{newItem.quantity}} : {{newItem.name}}
				<button ng-click="increaseQuantity(newItem)">+</button>
				<button ng-click="decreaseQuantity(newItem)">-</button>
				<button ng-click="deleteItem($index)">Delete</button>
			</li>
			</ul>
		</p>
		<p>
			<button ng-click="clearCart()">Empty Cart</button>
		</p>
		
	</div>

<script src="./angular.js"></script>
<script src="./groceryList.js"></script>
</body>
</html>