* {
  box-sizing: border-box;
  transition: .5s all ease;
}

.bigBox {
  background: none;
  width: 100%;

}

.bigBox > div {
  margin: 2%;
  background: cornflowerblue;
  padding: 5%;
  display: inline-block;
  width: 40%;
  border: 2px solid green;
}

.bigBox > div:nth-child(n+3){
	background-color: green;
}
.circle{
	border-style:solid;
    border-width:2px;
    border-radius:100%;
    background-color: red;
    width: 20px;
    height:20px;
    float: right;
}